{% extends "manager/layout.html" %}

{% block body %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-5">
        <div class="border border-primary assignment-container mb-4">
            <div class="mt-3 mb-4 mx-5">
                <p class="h5 fw-light text-center mb-2">Add an Assignment.</p>
                <form method="POST">

                    {% for field in add_assignment_form %}

                    <div class="form-floating">
                        {{field}}
                        <label for="{{field.label}}" class="fw-light">{{field.label}}</label>
                    </div>
        
                    {% endfor %}
                    <label for="add-assignment-date">Specify a date for the Assignment</label>
                    <input type="date" id="add-assignment-date" class="form-control bg-secondary mb-3" style="color: #b1afa9;" />

                    <label for="add-assignment-date">Specify a time for the Assignment</label>
                    <input type="time" id="add-assignment-time" class="form-control bg-secondary mb-3" style="color: #b1afa9;" />
                    <div class="text-center">
                        <input class="btn btn-primary mt-1" type="submit" value="Add Assignment" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>


{% endblock %}