<h2>Your categories:</h2>


<form method="post">
    {% csrf_token %}
</form>

{% for category in categories %}

<div class="row">
    <a class="h3 text-decoration-none category-link" style="color: #9E9DFF;" {%if page == "assignments" %} href="{% url 'index' %}?q={{category}}" {% elif page == "completed" %} href="{% url 'completed' %}?q={{category}}" {% endif %}>{{category}}</a>
</div>

{% endfor %}

<button class="btn btn-link text-danger" id="remove-category-button"><h4>Remove a category</h4></button>

<form method="POST" id="remove-category-form" style="display: none;">
    {% csrf_token %}
    <select class="form-control bg-secondary text-light" name="category">
        <option>Choose a category</option>
        {% for category in categories %} 

            <option>{{category}}</option>

        {% endfor %}
    </select>
    <input class="btn btn-link text-danger mt-2" id="remove-category-submit" type="submit" value="Remove" />
</form>