{% extends "manager/main.html" %}

{% block assignments %}

{% for assignment in assignments %}

<div {% if assignment.missed == True %} class="border border-danger assignment-container mb-4" {% else %} class="border border-primary assignment-container mb-4" {% endif %} data-overdue="{{now | timesince:assignment.due_time}}">
    <div class="row">
        <div class="col-11">
            <h5 class="mt-4 ms-2 text-center" {% if assignment.missed == True %} style="color: #ff5555;" {% endif %}>{{assignment.category.category}}</h5>
        </div>
        <div class="col-1 mt-4">
            <button class="btn btn-link text-light edit-button" style="color: #b1afa9; text-decoration: none;" id="edit-assignment-{{assignment.id}}">Edit</button>
        </div>
    </div>
    <hr>
    <p class="h5 ms-3 my-2 fw-light assignment-description">{{assignment.description}}</p>
    <hr>
    <div class="row">
        <div class="col-3">
            <p class="ms-3 mt-2 fw-light">{% if assignment.missed %}Missing{% else %}Due: {{now | timesince:assignment.due_time}}{% endif %}</p>
        </div>
        <div class="col-6"></div>
        <div class="col-3 text-end">
            <a class="btn btn-primary mb-3 me-3" href="{% url 'completed' %}?pk={{assignment.id}}">Completed</a>
        </div>
    </div>
</div>


<div class="edit-assignment-container" style="display: none;">
    <div {% if assignment.missed == True %} class="border border-danger assignment-container mb-4" {% else %} class="border border-primary assignment-container mb-4" {% endif %} data-overdue="{{now | timesince:assignment.due_time}}">
        <div class="row">
            <div class="col-11">
                <h5 class="mt-4 ms-2 text-center" {% if assignment.missed == True %} style="color: #ff5555;" {% endif %}>{{assignment.category.category}}</h5>
            </div>
            <div class="col-1 mt-4">
                <button class="btn btn-link text-light" style="color: #b1afa9; text-decoration: none;" id="edit-assignment-{{assignment.id}}">Edit</button>
            </div>
        </div>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating mx-3">
            <input name="edit-assignment" value="{{assignment.description}}" class="form-control bg-secondary text-light" id="edit-assignment-input" type="text">
            <label for="edit-assignment-input">Edit assignment</label>
            </div>
        <hr>
        <div class="row">
            <div class="col-2">
                <input value="{{assignment.time_str}}" type="time" class="form-control bg-secondary text-light ms-3">
            </div>
            <div class="col-2">
                <input type="date" class="form-control bg-secondary text-light ms-3">
            </div>
            <div class="col-5"></div>
            <div class="col-3 text-end">
                <input type="submit" value="Submit" class="btn btn-primary mb-3 me-3">
            </div>
        </div>
        </form>
    </div>
</div>

{% endfor %}

{% endblock %}