{% extends "manager/layout.html" %}

{% block body %}
    <div class="row mt-5">
        <div class="col-3">
            TODO
        </div>
        <div class="col-9">

            {% for assignment in assignments %}

            <div class="border border-primary assignment-container">
                <h5 class="my-3 ms-2 text-center">{{assignment.category.category}}</h5>
                <hr>
                <p class="h5 ms-3 my-2 fw-light">{{assignment.description}}</p>
                <hr>
                <p class="ms-3 mb-3 fw-light">Due: {{assignment.due_time}}</p>
            </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}