body{
    background-color: #404040;
    color: antiquewhite;
}

#search-input{
    color: whitesmoke;
}

#login-container{
    border-radius: 15px;
    background-color: #555555;
}

.text-red{
    color: #ff5555;
}

.assignment-container{
    border-radius: 15px;
    background-color: #555555;
}