body{
    background-color: #404040;
    color: antiquewhite;
}

#search-input{
    color: whitesmoke;
}

#login-container{
    border-radius: 15px;
    background-color: #555555;
}

.text-red{
    color: #ff5555;
}

.assignment-container{
    border-radius: 15px;
    background-color: #555555;
}


.categories-container{
    border-radius: 15px;
    background-color: #555555;
}

#create-category-button{
    padding-left: 0%;
    text-decoration: none;
    color: #00B4BE;
}

#remove-category-button{
    padding-left: 0%;
    text-decoration: #ff5555;
}

#remove-category-submit{
    padding-left: 0.5%;
    text-decoration: #ff5555;
}
